@page
@model BulkyWebRazor_Temp.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<h2>@ViewData["Title"]</h2>


<p>
    <a asp-page="/Categories/Create" class="btn btn-primary">Create New</a>
</p>

@if (
    !(Model?.CategoryList?.Any() ?? false)
)  
{
    <div class="alert alert-info">No categories found.</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
                var categories = Model.CategoryList ?? Enumerable.Empty<dynamic>();
            }
            @foreach (var category in categories.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>@(index++)</td>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                    <td>
                        <a asp-page="/Categories/Edit" asp-route-id="@category.Id" class="btn btn-sm btn-secondary">Edit</a>
                        <a asp-page="/Categories/Details" asp-route-id="@category.Id" class="btn btn-sm btn-info">Details</a>
                        <a asp-page="/Categories/Delete" asp-route-id="@category.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
